@model Zythocell.Web.Models.RateVM

@{ Layout = null;}

<img class="card-img flex-column align-items-start img-fluid" src="~/Img/@(Model.BeverageId).jpg" alt="Picture of the bottle">
<div class="row">
    <div class="col-md-3">
        @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.Rating)
    </div>
</div>
@if (Model.SmallDescription != null)
{
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.SmallDescription)
        </div>
        <div class="col-md-9 word-wrap">
            @Html.DisplayFor(model => model.SmallDescription)
        </div>
    </div>
}
@if (Model.Comment != null)
{
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.Comment)
        </div>
        <div class="col-md-9 word-wrap">
            @Html.DisplayFor(model => model.Comment)
        </div>
    </div>
}
<div class="row">
    <div class="col-md-3">
        @Html.DisplayNameFor(model => model.QuantityBeverage)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.QuantityBeverage)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.AgeBeverage)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.AgeBeverage)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.Date)
    </div>
</div>
<br />
<div class="form-actions">
    <button onclick="showInPopup('@Url.Action("Edit", "Cellar", new { id = Model.CellarId }, Context.Request.Scheme)', 'Edit')"
            data-target="#form-modal" data-toggle="modal" class="btn btn-block btn-secondary text-white">
        <i class="fas fa-pen"></i>
    </button>
</div>

